<h1>SPINNER - {{environment}}</h1>

<table class="device-info">
  {{#each deviceInfo}}
    <tr>
      <td>{{@key}}</td>
      <td>{{this}}</td>
    </tr>
  {{/each}}
</table>

<div>
  Database:
  <select id="database-selector">
    {{#each databases}}
      <option value="{{this}}" {{eq database this yes="selected" no=""}}>{{this}}</option>
    {{/each}}
  </select>
</div>

<ol class="tabs">
  <li {{#if isOverview}}class="active"{{/if}}><a href="/?db={{database}}">Overview</a></li>
  <li {{#if isBrowse}}class="active"{{/if}}><a href="/browse?db={{database}}">Browse</a></li>
  <li {{#if isQuery}}class="active"{{/if}}><a href="/query?db={{database}}">Query</a></li>
  <li {{#if isRecent}}class="active"{{/if}}><a href="/recent?db={{database}}">Recent</a></li>
  {{#each plugins}}
  <li {{#if (eq name activePlugin.name)}}class="active"{{/if}}><a href="{{path}}">{{name}}</a></li>
  {{/each}}
</ol>
